.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.hr {
  width: 100%;
}
hr {
  width: 90%;
}

button{
  font-size: 0.8em;
  background-color: #61dafb;
  border: #61dafb;
  margin-left: 5px;
}
button:active {
  background-color: #b5efff;
}

input {
  font-size: 1.0em;
}
body {
  background-color: #282c34;
  color: white;
  
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  color: white;
}


.table, tr, td {
  margin-top: 10px;
  text-align: left;
  border: 2px solid #b5efff;
  border-collapse: collapse;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
